<!-- MAIN TEMPLATE -->
{% extends 'main.html' %}
<!-- TITLE -->
{% block title %}About{% endblock %}
<!-- STATIC -->
{% load static %}
<!-- BODY -->
{% block content %}
<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">
      <h2>About Us</h2>
      <p><a href="index.html">Home</a> &nbsp; / &nbsp; About</p>
    </div>
  </div>
</section>
<div class="w3l-about1 py-5 editContent" id="about">
  <div class="container py-md-5">
    <div class="aboutgrids row">
      <div class="col-lg-8 aboutgrid1 pr-lg-5">
        <h4 class="editContent">
          Quam id quisquam ipsam molestiae ad eius accusantium
        </h4>
        <p class="editContent mt-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id
          quisquam ipsam molestiae ad eius accusantium? Nulla dolorem
          perferendis inventore! posuere cubilia Curae; Nunc non risus in justo
          convallis feugiat.Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Quam id quisquam ipsam molestiae ad eius accusantium? Nulla
          dolorem perferendis inventore! posuere cubilia Curae; Nunc non risus
          in justo convallis feugiat.
        </p>
        <p class="editContent mt-3">
          Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Quam id quisquam ipsam molestiae ad eius
          accusantium? Nulla dolorem perferendis inventore! posuere cubilia
          Curae; Nunc non risus in justo convallis feugiat. consectetur
          adipisicing elit. Quam id quisquam ipsam molestiae ad eius
          accusantium? Nulla dolorem perferendis inventore! posuere cubilia
          Curae; Nunc non risus in justo convallis feugiat.
        </p>
      </div>
      <div class="col-lg-4 aboutgrid2 mt-lg-0 mt-5">
        <img
          src="{% static 'images/image-3.jpg' %}"
          alt="about image"
          class="img-fluid"
        />
        <img
          src="{% static 'images/image-4.jpg' %}"
          alt="about image"
          class="img-fluid mt-3"
        />
      </div>
    </div>
  </div>
</div>
<section class="w3l-about">
  <div class="skills-bars py-5">
    <div class="container py-md-3">
      <div class="row py-md-5 py-3">
        <div class="col-lg-5">
          <h3>More Than 25 Years Of Experience</h3>
        </div>
        <div class="col-lg-7 pl-lg-5 mt-5 mt-lg-0">
          <div class="skills-bar-grids mb-5">
            <h4>INTEGRITY</h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped button-color"
                role="progressbar"
                style="width: 80%; height: 0.3rem"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="skills-bar-grids mb-5">
            <h4>OPERATIONAL EXCELLENCE</h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped button-color"
                role="progressbar"
                style="width: 70%; height: 0.3rem"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="skills-bar-grids mb-5">
            <h4>INNOVATION</h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped button-color"
                role="progressbar"
                style="width: 60%; height: 0.3rem"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="skills-bar-grids">
            <h4>CONTINUOUS IMPROVEMENT</h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped button-color"
                role="progressbar"
                style="width: 75%; height: 0.3rem"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features-4 block -->
<section class="w3l-features-8">
  <!-- /features -->

  <section class="form-12" id="home">
    <div class="form-12-content">
      <div class="container">
        <div class="grid-column-2">
          <div class="column2 text-center">
            <div class="heading text-center mx-auto">
              <h3 class="head text-white">Mbonani Christian Funerals</h3>
              <div style="height: 40px"></div>
            </div>
            <a
              class="btn btn-secondary btn-theme2 mt-5 button-color"
              href="contact.html"
            >
              Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- //features -->
</section>
<!-- features-4 block -->

<!--  team-27 -->
<section class="w3l-teams-27">
  <div class="teams27 section-gap py-5" id="team">
    <div class="container py-md-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">Our Team</h3>
      </div>

      <div class="main-contteam-28 row mt-5 pt-3">
        <div class="col-lg-6">
          <div class="team-main-19">
            <div class="column-19">
              <a href="#"
                ><img
                  class="img-responsive"
                  src="{% static 'images/profileavatar.jpeg' %}"
                  alt=" "
              /></a>
            </div>
            <div class="right-team-9">
              <div class="teams-info">
                <h6><a href="#" class="title-team-28">Mark Jessey</a></h6>
                <p class="sm-text-28">Senior Advisor</p>
                <div class="seperator"></div>
                <div style="height: 70px"></div>
                <div class="buttons-teams">
                  <a href="#facebook" class="facebook button-color"
                    ><span class="fa fa-facebook icon-color"></span
                  ></a>
                  <a href="#twitter" class="twitter button-color"
                    ><span class="fa fa-twitter icon-color"></span
                  ></a>
                  <a href="#instagram" class="instagram button-color"
                    ><span class="fa fa-instagram icon-color"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-4">
          <div class="team-main-19">
            <div class="column-19">
              <a href="#"
                ><img
                  class="img-responsive"
                  src="{% static 'images/profileavatar.jpeg' %}"
                  alt=" "
              /></a>
            </div>
            <div class="right-team-9">
              <div class="teams-info">
                <h6><a href="#" class="title-team-28">Adriana Lima</a></h6>
                <p class="sm-text-28">VP Sales and Marketing</p>
                <div class="seperator"></div>
                <div style="height: 70px"></div>
                <div class="buttons-teams">
                  <a href="#facebook" class="facebook button-color"
                    ><span class="fa fa-facebook icon-color"></span
                  ></a>
                  <a href="#twitter" class="twitter button-color"
                    ><span class="fa fa-twitter icon-color"></span
                  ></a>
                  <a href="#instagram" class="instagram button-color"
                    ><span class="fa fa-instagram icon-color"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="team-main-19">
            <div class="column-19">
              <a href="#"
                ><img
                  class="img-responsive"
                  src="{% static 'images/profileavatar.jpeg' %}"
                  alt=" "
              /></a>
            </div>
            <div class="right-team-9">
              <div class="teams-info">
                <h6><a href="#" class="title-team-28">Paul Rosey</a></h6>
                <p class="sm-text-28">Chief Marketing Officer</p>
                <div class="seperator"></div>
                <div style="height: 70px"></div>
                <div class="buttons-teams">
                  <a href="#facebook" class="facebook button-color"
                    ><span class="fa fa-facebook icon-color"></span
                  ></a>
                  <a href="#twitter" class="twitter button-color"
                    ><span class="fa fa-twitter icon-color"></span
                  ></a>
                  <a href="#instagram" class="instagram button-color"
                    ><span class="fa fa-instagram icon-color"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="team-main-19">
            <div class="column-19">
              <a href="#"
                ><img
                  class="img-responsive"
                  src="{% static 'images/profileavatar.jpeg' %}"
                  alt=" "
              /></a>
            </div>
            <div class="right-team-9">
              <div class="teams-info">
                <h6><a href="#" class="title-team-28">Kate Jesica</a></h6>
                <p class="sm-text-28">Administrator</p>
                <div class="seperator"></div>
                <div style="height: 70px"></div>
                <div class="buttons-teams">
                  <a href="#facebook" class="facebook button-color"
                    ><span class="fa fa-facebook icon-color"></span
                  ></a>
                  <a href="#twitter" class="twitter button-color"
                    ><span class="fa fa-twitter icon-color"></span
                  ></a>
                  <a href="#instagram" class="instagram button-color"
                    ><span class="fa fa-instagram icon-color"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
