<!-- MEMBERSHIP JUMBOTRON -->
<div class="mt-1">
  <div class="profile-container p-3 rounded shadow">
    <div class="row">
      <div class="col">
        <h6 class="profile-headings"><strong>Membership No :</strong></h6>
      </div>
      <div class="col"><strong>{{display.user.identification}}</strong></div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="profile-headings"><strong>Package :</strong></h6>
      </div>
      <div class="col"><strong>{{display.user.member.package}}</strong></div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="profile-headings"><strong>Status :</strong></h6>
      </div>
      <div class="col"><strong>{{display.user.member.status}}</strong></div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="profile-headings"><strong>Received by :</strong></h6>
      </div>
      <div class="col"><strong>Jamal toshiba</strong></div>
    </div>
    <div class="row profile">
      <div class="col">
        <h6 class="profile-headings"><strong>Date Issued :</strong></h6>
      </div>
      <div class="col"><strong>{{display.user.member.created}}</strong></div>
    </div>
  </div>
</div>
