{% extends 'main/main.html' %}
<!-- STATIC -->
{% load static %}
<!-- BODY -->
{% block content %}
<!-- document, family, id, id_number, paid, slug, spouse, user, user_id -->
<div class="row">
  <!-- burials start -->
  <div class="col-sm rounded shadow m-1 p-3">
    <h6 class="burial-header pt-2 pb-2 px-2 rounded shadow">
      Membership Payments - {{display.paid.count}}
    </h6>
    <!-- Member -->
    {% for x in display.paid.all %}
    <!-- payment if statemnt -->
    <!-- if -->
    <div class="row pt-4">
      <div class="col bruials-font-color">{{x.amount}} - {{x.month}}</div>
      <div class="col bruials-font-color bruial-hide">
        {{x.date|date:'Y-M-d H:i'}}
      </div>
      <div class="col bruials-font-color bruial-hide">{{x.member}}</div>
      <div class="col bruials-font-color">
        <i class="fas fa-file-alt sidebar-icon"></i>
      </div>
      <div class="col">
        <a
          href="http://127.0.0.1:8000/admin/app_admin/payment/{{x.id}}/change/"
          class="btn btn-info"
        >
          Edit
        </a>
      </div>
      {% if x.proof_of_payment %}
      <div class="col">
        <a href="{{x.proof_of_payment.url}}" class="btn btn-secondary">
          View
        </a>
      </div>
      {% else %}
      <div class="col">
        <a href="#" class="btn btn-secondary">None</a>
      </div>
      {% endif %}
    </div>
    <div class="divider mt-2"></div>

    <!-- if statement end -->
    {% endfor %}
    <!-- MEMBER DOCUMENTS END -->
  </div>
</div>
<!-- body end -->
{% endblock %}
