{# extends 'christian_admin/main.html' #}{% extends 'main/main.html' %}
<!-- STATIC -->
{% load static %}
<!-- BODY -->
{% block content %}


 <!-- MEMBERSHIP JUMBOTRON -->
  <div class="mt-1">
    <div class="profile-container p-3 rounded shadow">
      <div class="row">
        <div class="col">
          <h6 class="profile-headings"><strong>Membership No :</strong></h6>
        </div>
        <div class="col"><strong>{{member.user.identification}}</strong></div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="profile-headings"><strong>Package :</strong></h6>
        </div>
        <div class="col"><strong>{{member.package}}</strong></div>
      </div>
      <div class="row">
        <div class="col">
          <h6 class="profile-headings"><strong>Received by :</strong></h6>
        </div>
        <div class="col"><strong>{{member.recieved_by}}</strong></div>
      </div>
      <div class="row profile">
        <div class="col">
          <h6 class="profile-headings"><strong>Date Issued :</strong></h6>
        </div>
        <div class="col"><strong>{{member.created}}</strong></div>
      </div>
      <div class="row profile">
        <div class="col">
          <h6 class="profile-headings"><strong>Account :</strong></h6>
        </div>
        <div class="col"><a class="btn btn-info" href="/payments/{{member.user.identification.slug}}">Payments</a></div>
      </div>
    </div>
  </div>

 
  <!-- MEMBER -->

  <div class="my-4">
    <div class="spouse-card p-3">
      <center>
        <h5 class="spouse-fonts">Member ({{member.first_name}} {{member.last_name}}) Membership no: {{member.user.identification}}</h5>
      </center>
    </div>
    <div class="mt-4">
      <div class="profile-info shadow-lg rounded p-3">
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Staus:</div>
          <div class="col-sm">{{member.status}}</div>
        </div>
        <!-- Burial date if statement -->
        {% if member.burial_date %}
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Burial Date:</div>
          <div class="col-sm">{{member.burial_date|date:"M d, Y"}}</div>
        </div>
        {% else %}
       <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Created Date:</div>
          <div class="col-sm">{{member.created}}</div>
        </div>
        {% endif %}
          <!-- Burial date if statement end -->
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Frist Name:</div>
          <div class="col-sm">{{member.user.first_name}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Second Name:</div>
          <div class="col-sm">{{member.user.last_name}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">ID number:</div>
          <div class="col-sm">{{member.user.identification}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">House Number & Street:</div>
          <div class="col-sm">{{member.street}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Town/Suburb:</div>
          <div class="col-sm">{{member.town}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">City:</div>
          <div class="col-sm">{{member.city}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Postal Code:</div>
          <div class="col-sm">{{member.zip_code}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Contact:</div>
          <div class="col-sm">{{member.phone}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Contact:</div>
          <div class="col-sm">{{member.phone}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Email:</div>
          <div class="col-sm">{{member.user.email}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
           <div class="col-sm sm-padding"></div>
          <div class="col-sm"><a style="color: #282277;text-decoration:underline" href="/documents/{{member.user.identification.slug}}">Documents</a></div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
           <div class="col-sm sm-padding"></div>
          <div class="col-sm"><a class="btn btn-secondary" href="/admin/members/member/{{member.id}}/change/">Edit</a></div>
        </div>
      </div>
    </div>
  </div>
  


  <!-- SPOUSE TABLE -->
  
  {% for x in display.spouse.all %}
  <div class="my-4">
    <div class="spouse-card p-3">
      <center>
        <h5 class="spouse-fonts">Spouse ({{x.first_name}} {{x.last_name}}) Membership no: {{display.id_number}}</h5>
      </center>
    </div>
    <div class="mt-4">
      <div class="profile-info shadow-lg rounded p-3">
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Staus:</div>
          <div class="col-sm">{{x.status}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Frist Name:</div>
          <div class="col-sm">{{x.first_name}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Second Name:</div>
          <div class="col-sm">{{x.last_name}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">ID number:</div>
          <div class="col-sm">{{x.id_no}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">House Number & Street:</div>
          <div class="col-sm">{{x.street}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Town/Suburb:</div>
          <div class="col-sm">{{x.town}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">City:</div>
          <div class="col-sm">{{x.city}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Postal Code:</div>
          <div class="col-sm">{{x.zip_code}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Contact-1:</div>
          <div class="col-sm">{{x.phone}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Contact-2:</div>
          <div class="col-sm">{{x.phone}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Email:</div>
          <div class="col-sm">{{x.email}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
           <div class="col-sm sm-padding"></div>
          <div class="col-sm"><a class="btn btn-secondary" href="/admin/members/spouse/{{x.id}}/change/">Edit</a></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- FAMILY TABLE  -->

  {% for x in display.family.all %}
 
    <div class="spouse-card p-3">
      <center>
        <h5 class="spouse-fonts">
          Family Members ({{x.first_name}} {{x.last_name}})  Membership no: {{display.id_number}}
        </h5>
      </center>
    </div>
    <div class="mt-4">
      <div class="profile-info shadow-lg rounded p-3">
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Staus:</div>
          <div class="col-sm">{{x.status}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Frist Name:</div>
          <div class="col-sm">{{x.first_name}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Last Name:</div>
          <div class="col-sm">{{x.last_name}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">ID number:</div>
          <div class="col-sm">{{x.id_no}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">House Number & Street:</div>
          <div class="col-sm">{{x.street}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Town/Suburb:</div>
          <div class="col-sm">{{x.town}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">City:</div>
          <div class="col-sm">{{x.city}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Postal Code:</div>
          <div class="col-sm">{{x.zip_code}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Contact-1:</div>
          <div class="col-sm">{{x.phone}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Contact-2:</div>
          <div class="col-sm">{{x.phone}}</div>
        </div>
        <div class="row p-3 rounded m-2 info-details-bg">
          <div class="col-sm sm-padding">Email:</div>
          <div class="col-sm">{{x.email}}</div>
        </div>
         <div class="row p-3 rounded m-2 info-details-bg">
           <div class="col-sm sm-padding"></div>
          <div class="col-sm"><a class="btn btn-secondary" href="/admin/members/family/{{x.id}}/change/">Edit</a></div>
        </div>
      </div>
    </div>
  {% endfor %}
    <!-- FAMILY TABLE END -->


  <!-- MEMBER DOCUMENTS -->
  <div class="mt-1">
  <div class="spouse-card p-3">
    <center>
      <h5 class="spouse-fonts">
        Documents - Membership no: ({{display.id_number}}) 
      </h5>
    </center>
  </div>
  {% for file in display.document.all %}
  <div class="mt-1">
    <div class="profile-info shadow-lg rounded p-3">
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm"><i class="fas fa-file-alt sidebar-icon"></i></div>
        <div class="col-sm">{{file.title}}</div>
        <div class="col-sm">{{file.created}}</div>
        <div class="col-sm">
          <a class="btn btn-primary" href="{{file.docfile.url}}">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
  <!-- MEMBER DOCUMENTS END -->

  <!-- BODY END -->
<p>ShowProfileDtails.html</p>
  {% endblock %}
</div>
