{% extends 'main/main.html' %}
<!-- STATIC -->
{% load static %}
<!-- Title -->
{% block title %} {{request.user}} Members Details {% endblock %}
<!-- BODY -->
{% block content %}

<!-- Member counter -->
{% include 'members/counter.html' %}
<!-- Member counter end -->

<!-- IF STATEMENT -->
{% if request.user.identification %}
<!-- MEMBERSHIP DETAILS -->

<div class="mt-1">
  <div class="profile-container p-3 rounded shadow">
    <div class="row">
      <div class="col">
        <h6 class="profile-headings">Membership No :</h6>
      </div>
      <div class="col">{{display.id_number}}</div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="profile-headings">Package :</h6>
      </div>
      <div class="col">{{current_member.package}}</div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="profile-headings">Status :</h6>
      </div>
      <div class="col">{{current_member.status}}</div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="profile-headings">Received by :</h6>
      </div>
      <div class="col">{{current_member.recieved_by}}</div>
    </div>
    <div class="row profile">
      <div class="col">
        <h6 class="profile-headings">Date Issued :</h6>
      </div>
      <div class="col">{{current_member.created}}</div>
    </div>
    <div class="row profile">
      <div class="col">
        <h6 class="profile-headings"><strong>Account :</strong></h6>
      </div>
      <div class="col">
        <a
          class="btn btn-info"
          href="/payments/{{request.user.identification.slug}}"
          >Payments</a
        >
      </div>
    </div>
  </div>
</div>

<!-- MEMBER -->

<div class="my-4">
  <div class="spouse-card p-3">
    <center>
      <h5 class="spouse-fonts">
        Member ({{current_member.user.first_name}}
        {{current_member.user.last_name}})
      </h5>
      <p class="text-white">Membership Number - {{display.id_number}}</p>
    </center>
  </div>
  <div class="mt-1">
    <div class="profile-info shadow-lg rounded p-3">
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Frist Name:</div>
        <div class="col-sm">{{current_member.user.first_name}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Second Name:</div>
        <div class="col-sm">{{current_member.user.last_name}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">ID number:</div>
        <div class="col-sm">{{display.id_number}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Physical Address:</div>
        <div class="col-sm">{{current_member.street}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Contact:</div>
        <div class="col-sm">{{current_member.phone}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Contact:</div>
        <div class="col-sm">{{current_member.phone}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Email:</div>
        <div class="col-sm">{{current_member.user.email}}</div>
      </div>
    </div>
  </div>
</div>

<!-- SPOUSE -->
{% for spouse in display.spouse.all %}
<div class="my-4">
  <div class="spouse-card p-3">
    <center>
      <h5 class="spouse-fonts">
        Spouse ({{spouse.first_name}} {{spouse.last_name}})
      </h5>
      <p class="text-white">Membership Number - {{display.id_number}}</p>
    </center>
  </div>
  <div class="mt-1">
    <div class="profile-info shadow-lg rounded p-3">
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Frist Name:</div>
        <div class="col-sm">{{spouse.first_name}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Second Name:</div>
        <div class="col-sm">{{spouse.last_name}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">ID number:</div>
        <div class="col-sm">{{spouse.id_no}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Physical Address:</div>
        <div class="col-sm">{{spouse.street}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Contact:</div>
        <div class="col-sm">{{spouse.phone}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Contact:</div>
        <div class="col-sm">{{spouse.phone}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Email:</div>
        <div class="col-sm">{{spouse.email}}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- FAMILY -->
{% for family in display.family.all %}
<div class="spouse-card p-3">
  <center>
    <h5 class="spouse-fonts">
      Family Members ({{family.first_name}} {{family.last_name}})
    </h5>
    <p class="text-white">Membership Number - {{display.id_number}}</p>
  </center>
</div>
<div class="mt-1">
  <div class="profile-info shadow-lg rounded p-3">
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">Frist Name:</div>
      <div class="col-sm">{{family.first_name}}</div>
    </div>
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">Last Name:</div>
      <div class="col-sm">{{family.last_name}}</div>
    </div>
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">ID number:</div>
      <div class="col-sm">{{family.id_no}}</div>
    </div>
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">Physical Address:</div>
      <div class="col-sm">{{family.street}}</div>
    </div>
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">Contact:</div>
      <div class="col-sm">{{family.phone}}</div>
    </div>
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">Contact:</div>
      <div class="col-sm">{{family.phone}}</div>
    </div>
    <div class="row p-3 rounded m-2 info-details-bg">
      <div class="col-sm sm-padding">Email:</div>
      <div class="col-sm">{{family.email}}</div>
    </div>
  </div>
</div>
{% endfor %}
<!-- FAMILY TABLE END -->

<!-- EXTRA STYLES -->
<style>
  .table-image {
    height: 80px;
    width: auto;
  }

  .christian-funerals-logo {
    height: 150px;
    width: auto;
    margin: 10px;
  }
  .btn-primary {
    background-color: #e3833e !important;
    color: black;
  }
</style>
<!-- If statement else -->
{% else %}
<center>
  <img
    class="christian-funerals-logo"
    src="{% static 'images/logo-removed.png' %}"
    alt=""
  />
  <h3>Welcome to Christian Mbonani Funerals</h3>
  <p>To process your application create a Membership Profile.</p>
  <a class="btn btn-primary" style="color: white" href="/member/{{x.slug}}"
    >Create Profile</a
  >
</center>
<!-- If statemnet end -->
{% endif %}
<!-- BODY END -->
<p>member.html</p>
{% endblock %}
