{% extends 'christian_admin/main.html' %}
<!-- STATIC -->
{% load static %}
<!-- BODY -->
{% block content %}
<!-- SIDEKICKS TEMPLATE -->
<p>insert.html = Show all members details</p>

<h1>
  Insert Family Member to: {{display.first_name}} {{display.last_name}}
  {{display.id_no}}
</h1>
<form method="POST">
  {% csrf_token %}
  <table class="table">
    <tr>
      <tbody>
        <td>
          <input
            type="text"
            value="{{display.first_name}} {{display.last_name}}"
            readonly
            name="user"
          />
        </td>
        <td>
          <input type="text" name="first_name" placeholder="First Name" />
        </td>
        <td>
          <input type="text" name="last_name" placeholder="Last Name" />
        </td>
        <td>
          <input type="text" name="id_no" placeholder="ID no." />
        </td>
        <td>
          <input type="text" name="email" placeholder="Email" />
        </td>
        <td>
          <input type="text" name="phone" placeholder="phone" />
        </td>
        <td>
          <input type="text" value="{{display.id}}" readonly name="user" />
        </td>
        <td><button type="submit" class="btn btn-primary">Submit</button></td>
      </tbody>
    </tr>
    <tr>
      {% if messages %}
      <!--  -->
      {% for mess in messages %}
      <!--  -->
      {{mess}}
      <!--  -->
      {% endfor %}
      <!--  -->
      {% endif %}
    </tr>
  </table>
</form>
<hr />

{% for x in display.spouse.all %}
<div class="my-4">
  <div class="spouse-card p-3">
    <center>
      <h5 class="spouse-fonts">Spouse ({{x.first_name}} {{x.last_name}})</h5>
    </center>
  </div>
  <div class="mt-4">
    <div class="profile-info shadow-lg rounded p-3">
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Frist Name:</div>
        <div class="col-sm">{{x.first_name}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Second Name:</div>
        <div class="col-sm">{{x.last_name}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">ID number:</div>
        <div class="col-sm">{{x.id_no}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Physical Address:</div>
        <div class="col-sm">{{x.street}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Contact:</div>
        <div class="col-sm">{{x.phone}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Contact:</div>
        <div class="col-sm">{{x.phone}}</div>
      </div>
      <div class="row p-3 rounded m-2 info-details-bg">
        <div class="col-sm sm-padding">Email:</div>
        <div class="col-sm">{{x.email}}</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!--  -->
{% endblock %}
