{% extends 'christian_admin/main.html' %}
<!-- BODY -->
{% block content %}
<style>
  .details-card {
    background-color: whitesmoke;
  }
</style>
<div class="container mt-5">
  {% if member %}
  <div class="card-body details-card text-center">
    <h3>{{member.first_name}} {{member.last_name}}</h3>
    <p class="lead">status: {{member.status}}</p>
    <p class="lead">Package: {{member.package}}</p>
    <p class="lead">ID no: {{member.id_no}}</p>
    <p class="lead">Email: {{member.email}}</p>
    <p class="lead">Phone no: {{member.phone}}</p>
    <p class="lead">Street: {{member.street}}</p>
    <p class="lead">Town: {{member.town}}</p>
    <p class="lead">City: {{member.city}}</p>
    <p class="lead">Code: {{member.zip_code}}</p>
    <p class="lead">Date Created: {{member.created|date:'M d Y'| upper}}</p>
  </div>

  {% endif %}
  <!-- NEXT -->
  {% if active %}
  <div class="card-body details-card text-center">
    <h3>{{active.first_name}} {{active.last_name}}</h3>
    <p class="lead">status: {{active.status}}</p>
    <p class="lead">Package: {{active.package}}</p>
    <p class="lead">ID no: {{active.id_no}}</p>
    <p class="lead">Email: {{active.email}}</p>
    <p class="lead">Phone no: {{active.phone}}</p>
    <p class="lead">Street: {{active.street}}</p>
    <p class="lead">Town: {{active.town}}</p>
    <p class="lead">City: {{active.city}}</p>
    <p class="lead">Code: {{active.zip_code}}</p>
    <p class="lead">Date Created: {{active.created|date:'M d Y'| upper}}</p>
  </div>
  {% endif %}
  <!-- next -->
  {% if pending %}
  <div class="card-body details-card text-center">
    <h3>{{pending.first_name}} {{pending.last_name}}</h3>
    <p class="lead">status: {{pending.status}}</p>
    <p class="lead">Package: {{pending.package}}</p>
    <p class="lead">ID no: {{pending.id_no}}</p>
    <p class="lead">Email: {{pending.email}}</p>
    <p class="lead">Phone no: {{pending.phone}}</p>
    <p class="lead">Street: {{pending.street}}</p>
    <p class="lead">Town: {{pending.town}}</p>
    <p class="lead">City: {{pending.city}}</p>
    <p class="lead">Code: {{pending.zip_code}}</p>
    <p class="lead">Date Created: {{pending.created|date:'M d Y'| upper}}</p>
  </div>
  {% endif %}
</div>
{% endblock %}
